<header id="header" class="navbar navbar-expand-lg navbar-dark  p-0">
  <nav class="container-nav container-fluid d-flex justify-content-lg-center align-items-lg-center align-items-start">
    <div class="container-logo mt-2 mt-lg-5">
      <a class="navbar-brand" href="./index.html">
        <img src="../../../assets/brand/logo.svg" alt="logo pagina web en el header">
      </a>
    </div>
    <div class="hamburguer-container mt-4">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
    <div class="menu-hamb menu collapse navbar-collapse p-3" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light" href="#">Inicio</a></li>
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light" href="./acerca.html">Nosotros</a></li>
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light" href="./juegos.html">Películas</a></li>
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light" href="./contacto.html">Contacto</a></li>
        <button class="btn btn-main me-lg-2 me-0 mb-lg-0 mb-2">Iniciar sesión</button>
        <button class="btn btn-secondary">Registrarse</button>
      </ul>
    </div>
  </nav>
</header>
