<header id="header" class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
  <nav class="container-nav container-fluid d-flex justify-content-lg-center">
    <div class="container-logo">
      <a class="navbar-brand" href="./index.html">
        <img src="./assets/logos/logo.png" alt="logo pagina web en el header">
      </a>
    </div>
    <h1 class="display-sm-6">Movie Stock</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="menu collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light" href="#">Inicio</a></li>
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light" href="./acerca.html">Acerca de</a></li>
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light" href="./juegos.html">Películas</a></li>
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light" href="./contacto.html">Contacto</a></li>
        <button class="btn btn-primary me-2">Iniciar sesión</button>
        <button class="btn btn-secondary">Registrarse</button>
      </ul>
    </div>
  </nav>
</header>
