<header id="header" class="navbar navbar-expand-lg navbar-dark  p-0">
  <nav class="container-nav container-fluid d-flex justify-content-lg-center align-items-lg-center align-items-start">
    <div class="container-logo mt-2 mt-lg-5">
      <a class="navbar-brand" routerLink="">
        <img src="../../../assets/brand/logo.svg" alt="logo pagina web en el header">
      </a>
    </div>
    <div class="hamburguer-container mt-4">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
    <div class="menu-hamb menu collapse navbar-collapse p-3" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light" routerLink="">Inicio</a></li>
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light">Nosotros</a></li>
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light" routerLink="/peliculas">Películas</a></li>
        <li class="nav-item d-inline-block"><a class="nav-link text-decoration-none text-light" routerLink="/contacto">Contacto</a></li>
        <button class="btn btn-main me-lg-2 me-0 mb-lg-0 mb-2"> <a class="text-decoration-none text-dark" routerLink="/iniciar-sesion">Iniciar sesión</a></button>
        <button class="btn btn-secondary"><a class="text-decoration-none text-light" routerLink="/registro">Registrarse</a></button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-secondary ms-lg-2">
          <fa-icon [icon]="faShoppingCart"></fa-icon>
        </button>
      </ul>
    </div>
  </nav>
</header>



<app-modal></app-modal>
