<div class="section-contact d-flex align-items-center">
  <div class="container container-form d-flex flex-column align-items-center">
    <div class="row ">
      <div class="col-12 col-md ">
        <div class="container container-description-contact">
          <div class="container-description-contact-title">
            <h2 class="text-center text-uppercase pt-3">¡Hablemos!</h2>
          </div>
          <div class="container-description-contact-text">
            <p>Si deseas darnos sugerencias para nuestra aplicación web, ¡escríbenos!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <form action="" class="d-flex flex-column flex-md-row">
          <div class="col-12 col-md-6 d-flex flex-column align-items-lg-end pe-md-3">
            <div class="box-name mb-3 d-flex justify-content-center">
              <input placeholder="Nombre" type="text" />
            </div>
            <div class="box box-email d-flex justify-content-center">
              <input placeholder="Email" type="text" />
            </div>
            <div class="d-md-flex d-none justify-content-center d">
              <button class="btn btn-send" type="submit">Enviar</button>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="box box-textarea ps-md-3 d-flex justify-content-center justify-content-md-start mt-md-0 mt-3">
              <textarea cols="30" rows="30"></textarea>
            </div>
            <div class="d-md-none d-flex justify-content-center mt-2">
              <button class="btn btn-send" type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
