<footer id="footer" class="container-fluid">
  <div class="row mx-0">
    <div class="col-12 col-md d-flex justify-content-lg-start justify-content-center">
      <div class="container-logo-footer">
        <img src="../../../assets/brand/logo_slogan.svg" class="logo">
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-end">
      <div class="container-social-networks">
        <div class="title-sn">
          <h3>Enlaces</h3>
        </div>
          <ul>
            <li class="nav-item"><a class="nav-link text-decoration-none text-light" href="#">Inicio</a></li>
            <li class="nav-item"><a class="nav-link text-decoration-none text-light" href="./acerca.html">Acerca de</a></li>
            <li class="nav-item"><a class="nav-link text-decoration-none text-light" href="./juegos.html">Películas</a></li>
            <li class="nav-item"><a class="nav-link text-decoration-none text-light" href="./contacto.html">Contacto</a></li>
          </ul>
      </div>
    </div>
  </div>
</footer>
