<div id="banner">
  <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/banner/banner1.jpg" class="d-block w-100" alt="Imagen banner watch dogs 2">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/banner/banner2.jpg" class="d-block w-100" alt="Imagen banner uncharted 3">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/banner/banner3.jpg" class="d-block w-100" alt="Imagen banner Red Dead Redemption 2">
      </div>
      <div class="overlay">
          <div class="container-description d-flex align-items-center justify-content-center">
            <div class="title-description-banner">
              <h2 class="text-center"></h2>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
