<section id="main">
  <app-banner></app-banner>

  <section class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-6 ">
        <div class="welcome d-flex justify-content-center">
          <div class="container-img">
            <img src="../../../assets/brand/logo_slogan.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container mt-5 mt-lg-0">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card card-service bg-darkness mb-lg-0 mb-3">
            <div class="container-icon d-flex align-items-center ms-2">
              <fa-icon class="fa-3x" [icon]="faCompactDisc"></fa-icon>
              <h3 class="ms-4">Alta calidad de imagen</h3>
            </div>
            <div class="card-body container-description">
              <p>
                Contamos con un gran catálogo de películas en sistema Blu-ray y Blu-ray Ultra HD
                para que disfrutes en máxima calidad los mejores momentos de tus películas favoritas.
                Gracias a esta avanzada tecnología puedes ver una profundidad de color aún mayor que en
                películas formato DVD. ¡Tendrás experiencias inolvidables!
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card card-service bg-darkness">
            <div class="container-icon d-flex align-items-center ms-2">
              <fa-icon class="fa-3x" [icon]="faShippingFast"></fa-icon>
              <h3 class="ms-4">Entrega inmediata</h3>
            </div>
            <div class="card-body container-description">
              <p>
                Poseemos un eficaz sistema de delivery para que puedas disfrutar
                de tu película favorita lo más rápido posible, así no tendrás que
                gastar dinero en un viaje a nuestra sucursal. ¡Prueba nuestro sistema
                hoy mismo!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 mt-3">
          <div class="card card-service bg-darkness">
            <div class="container-icon d-flex align-items-center ms-2">
              <fa-icon class="fa-3x" [icon]="faSignal"></fa-icon>
              <h3 class="ms-4">Sin conexión a internet</h3>
            </div>
            <div class="card-body container-description">
              <p>
                Nuestra propuesta de valor reside en que podrás disfrutar tu película
                sin perder calidad debido a una deficiente conexión a internet o por una
                mala señal, ya que al ser de formato Blu-ray, ¡Solo habrá momentos vívidos
                e inigualables!
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-3">
          <div class="card card-service bg-darkness">
            <div class="container-icon d-flex align-items-center ms-2">
              <fa-icon class="fa-3x" [icon]="faVideo"></fa-icon>
              <h3 class="ms-4">Gran variedad de títulos</h3>
            </div>
            <div class="card-body container-description">
              <p>
                Contamos con una gran variedad de títulos de distintas épocas para que,
                sin importar el año que sea, puedas disfrutar tu película favorita de
                manera atemporal con una calidad asombrosa. ¡Explora nuestro catálogo gratis!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="auth-invitation">
    <div class="container container-auth-invitation my-5 p-5">
      <div class="row d-flex justify-content-center">
        <div class="container-info-auth col-12 col-lg-5 d-flex flex-column justify-content-center">
          <div class="subtitle">
            <h2 class="text-center mb-5">¡Qué esperas para unírtenos!</h2>
          </div>
          <div class="row">
            <div class="col-12 d-flex flex-column">
              <div class="container auth-buttons d-flex justify-content-center flex-column flex-md-row">
                <button class="btn btn-main me-md-5 me-0">Iniciar sesión</button>
                <button class="btn btn-secondary ms-md-5 me-0">Registrarse</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</section>
