/* You can add global styles to this file, and also import other style files */
body {
  color: #fff;
  background-color: #212529;
}

.btn-main {
  background-color: #FDEC04;
  &:hover {
    background-color: #D3C400;
  }
}

.bg-darkness {
  background-color: #111315;
}
